.navbar{
    background-color: var(--primary-body-color);
    z-index: 10;
    padding-right: var(--md-space);
    padding-left: var(--md-space);
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50% 0;
    width: 100%;
    transition: 0.5s;
    height: 5em;
    max-width: calc( var(--max-page-width) + (2 * var(--md-space)));
    margin-left: auto;
    margin-right: auto;
}

.navbar__logo{
    text-decoration: none;
    font-weight: bolder;
    color: var(--primary-blue-color);
}

.navbar__links-container{
    list-style: none;
    display: flex;
    gap: 2em;
}

#navbar__mobile-icon{
    display: none;
}

.navbar__links-container__logo{
    color: grey;
    text-decoration: none;
}

.navbar__links-container__link{
    padding: 0.5em 1em;
    color: grey;
    text-decoration: none;
}

.navbar__mobile-close-icon-conatiner__icon-conatiner{
    position: absolute;
    right: var(--md-space);
    top: 1em;
}

.navbar__mobile-display__items{
    display: flex;
    flex-direction: column;
    gap: var(--md-space);
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#navbar__mobile-close-icon-conatiner__icon{
    width: 2.5em;
}

#navbar__mobile-display{
    display: none;
    position: absolute;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 70%;
    background-color: white;
    z-index: 100;
    transition: 0.5s;
}

.navbar__links-container__link:hover{
    padding: 0.5em 1em;
    color: grey;
    text-decoration: underline;
}

.navbar__links-container__link--primary{
    color:  var(--blue-color);
    background-color: var(--primary-color);
    border-radius: 2em;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    #navbar__mobile-display{
        display: block;
    }

    .navbar{
        padding-right: var(--sm-space);
        padding-left: var(--sm-space);
    }

    .navbar__links-container{
        gap: 0.2em;
    }

    #navbar__mobile-icon{
        display: block;
    }

    .navbar__links-container{
        display: none;
    }

}