.a--green {
    color: var(--primary-color);
}

.a--blue {
    color: var(--secondary-text-color);
}

.a--nostyling{
    text-decoration: none;
    color: unset;
    transition: 0.4s;
}

.a--nostyling:hover{
    text-decoration: underline;
}