.action-section{
    /* padding: var(--md-space); */
}

.action-section__row{
    display: flex;
    gap: var(--md-space);
}

.action-section__card-container{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.action-section__image-conatiner{
    /* width: 50%; */
    /* max-height: 5em; */
    height: calc(100vh / 1.5);
}

@media only screen and (max-width: 767px) {
    .action-section__image-conatiner{
        display: none;
    }

    .contact-us{
        flex-direction: column;
    }
}