.card{
    position: relative;
    padding: 2em;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1em;
}

.card--white{
    background-color: white;
    color: var(--primary-blue-color);
    width: fit-content;
    height: fit-content;
}

.card--green{
    background-color: var(--primary-green-color);
    color: var(--primary-blue-color);
}

.card--row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.card__head{
    position: absolute;
    top: -1em;
    background-color: var(--primary-blue-color);
    color: white;
    width: fit-content;
    padding: 0.5em;
    text-transform: uppercase;
    padding: 0.3em 2em;
    z-index: 1;
}

.card__head--in-place{
    position: static;
    top: 0em;
    margin-bottom: 3em;
    /* margin: 3em 0; */
}

.card__head--white{
    background-color: white;
    color: var(--primary-blue-color); 
}

.card__head--center{
    position: absolute;
    top: -1em;
    left: 50%;
    translate: -50% 0;
    /* margin: auto; */
}