.two-column-div{
    display: flex;
    justify-content: space-between;

}

.two-column-div--top-margin{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.two-column-div--blue--footer{
    position:absolute;
    overflow: hidden;
    background-color: var(--primary-blue-color);
    display: flex;
    height: 300px;
    width: 100%;
    bottom: -25%;
    left: 0;
}

.two-row-div{
    display: flex;
    background-color: white;
    flex-direction: row;
    height: fit-content;
}