.two-column-div{
    display: flex;
    justify-content: space-around;

}

.two-column-div--top-margin{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.two-column-div--blue--footer{
    overflow: hidden;
    background-color: var(--primary-blue-color);
    display: flex;
    height: 300px;
    width: 100%;
    margin-top: 10%;
    left: 0;
}

.two-row-div{
    display: flex;
    background-color: white;
    flex-direction: row;
    height: fit-content;
}

.two-column-div--form{
    display: flex;
    justify-content: space-between;
}
