.green{
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.green::after{
    content: "";
    position: absolute;
    opacity: 0.50;
    inset: 0;
    filter: brightness(80%);
    background: #40acb4;
}

.green img{
    filter: grayscale(80%) sepia(40%) contrast(1.22);
}