.green {
    position: relative;
    object-fit: cover;
    width: 100%;
}

.green::after {
    content: "";
    position: absolute;
    opacity: 0.50;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    inset: 0;
    background-color: #40acb4;

    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    -ms-filter: brightness(80%);
    -o-filter: brightness(80%);
}

.green img {
    filter: grayscale(80%) sepia(40%) contrast(1.22);
}