.form {
    display: flex;
    flex-direction: column;
    /* gap: 1em; */
    padding: 2em;
    height: fit-content;
    background-color: var(--secondary-body-color);
}

.form>*:not(:last-child) {
    margin-right: 1em;
}

.form__custom-amount {
    margin-top: 5%;
    margin-bottom: 10%;
}

.form__multi-elements-line {
    display: flex;
}

.form__multi-elements-line>*:not(:last-child) {
    margin-right: 1em;
}

.form__multi-elements-line label {
    width: 100%;
}

.form__multi-elements-line label input,
.form__multi-elements-line label select {
    width: 100%;
}

.form__multi-elements-line--no-gap {
    /* gap: 0; */
    margin-right: 0;
    margin-bottom: 0;
}

.form__frequency-selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form__field-header {
    color: white;
    /* margin-right: 2em; */
    margin-bottom: 1em;
}

.form__head {
    color: white;
    font-size: 150%;
}

.form__submit-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--md-space) 0;
}

.form__submission-span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
}

.form__submission-button {
    color: var(--scondary-text-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: 0.4s;
}

@media only screen and (max-width: 767px) {
    .form {
        min-width: 85vw;
    }

    .form>*:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1em;
    }

    .form__multi-elements-line>*:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1em;
    }

    .form__field-header {
        margin-right: 0;
    }

    .form__multi-elements-line {
        flex-direction: column;
    }
}