.h1--white{
    color: white;
}

.h1--blue{
    color: var(--primary-blue-color);
}

.h1--large{
    font-size: 3rem;
    padding: 0;
}

.h1--white--large{
    color: white;
    font-size:150%;
}

.h1--white--larger{
    color: white;
    font-size:300%;
}