.hero{
    width: 100wh;
    min-height: 100vh;
    /* height: 100vh; */
}

.hero__first-part{
    position: relative;
    padding: 0 5em;
    /* height: 100%; */
    height: 100vh;
    display: flex;
    justify-content: space-around;
    gap: 2em;
    align-items: center;
}
/* 
.hero__first-part::after{
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0.56;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(80%);
    background: #40acb4;
} */

.hero__first-part__img{
    position: absolute;
    z-index: -1;
    height: 100%;
}

.hero__second-part{
    /* min-height: 10%; */
    /* height: 100%; */
    height: fit-content;
    z-index: 1;
    background-color: var(--primary-green-color);
    color: var(--primary-blue-color);
}

.logo{
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.hero__second-part__text-container{
    max-width: 95vw;
    margin: 0 auto;
    display: flex;
    gap: 2em;
}

@media only screen and (max-width: 767px) {
    .hero__first-part{
        flex-direction: column;
    }

    .hero__second-part__text-container{
        display: flex;
        flex-direction: column;
    }
}