.hero {
    width: 100wh;
    min-height: 100vh;
    position: relative;
    padding: 0 var(--md-space);
    /* height: 100vh; */
    display: flex;
    justify-content: space-around;
    gap: 2em;
    align-items: center;
}

.hero::after {
    content: "";
    position: asbsolute;
    z-index: -1;
    opacity: 0.56;
    object-fit: cover;
    inset: 0;
    filter: brightness(80%);
    background: #40acb4;
}


.hero__card {
    max-width: 50%;
}

.hero__img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.hero__card__heading {
    font-size: 3rem;
}

@media only screen and (max-width: 767px) {
    .hero {
        flex-direction: column;
        padding: 0 var(--sm-space);
    }

    .hero__card {
        max-width: 100%;
        margin-top: 5em;
    }

    .hero__card__heading {
        font-size: 2rem;
    }
}