.input--white-round{
    border-radius: 2em;
    padding: 1em 2em;
    border: none;
    color: var(--secondary-text-color);
}

.input--form{
    padding: 1em 0em;
    background-color: var(--secondary-body-color);
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.input--form__select{
    margin-right: 20px;
    margin-left: 30px;
}

.input--form--fullwidth{
    width: 100%;
}

.input--form::placeholder{
    color: gray;
    font-size: 120%;
}