/* radio button label */
.label-radio{
    align-items: center;
    transition: 0.4s;
    height: 15%;
    width: 100%;
    display: flex;
    background-color: white;
    border:1px solid white;
    color: var(--primary-blue-color);
    padding: 2em 0;
    gap: 2em;
}

.label-radio:hover{
    transition: 0.4s;
    background-color: var(--primary-blue-color);
    border:1px solid white;
    color: white;
}

.label-radio--full-width{
    width: 100%;
}

.label-radio__title{
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0 1em;
}

.label-radio__title--large{
    font-size: 3rem;
    margin: 0;
}

.label-radio__paragraph{
    max-width: 50%;
}

