.mission-section{
    padding: var(--md-space);
}

.mission-seciton__cards-container{
    display: flex;
    gap: 3em;
    flex-wrap: nowrap;
}

.mission-seciton__cards-container__img-container{
    width: 30%;
    translate: 7% -15%;
    scale: 1.2;
    overflow: hidden;
}

.mission-seciton__cards-conatiner__card{
    height: 30em;
}


@media only screen and (max-width: 900px) {
    .mission-seciton__cards-container{
        flex-direction: column;
    }
}