.roles{
    padding: var(--md-space);
    height: fit-content;
    z-index: 1;
    background-color: var(--primary-green-color);
    color: var(--primary-blue-color);
}



.roles__text-container{
    max-width: 95vw;
    margin: 0 auto;
    display: flex;
    gap: 2em;
}

@media only screen and (max-width: 767px) {
    .roles__text-container{
        display: flex;
        flex-direction: column;
    }
}