@font-face {
    font-family: stylized-text;
    src: url(../../assets/fonts/Balibrush.otf);
}

.stylized-text{
    color: white;
    font-family: stylized-text;
}

.stylized-text--large{
    color: white;
    font-family: stylized-text;
    font-size: 500%;
}
