.stylized-text {
    font-family: Balibrush;
}

.stylized-text--white {
    color: var(--white-color);
}

/* sizes */
.stylized-text--large {
    font-size: 5rem;
}

.stylized-text--md {
    font-size: 3rem;
    margin: 0;
}

/* colors */
.stylized-text--blue {
    color: var(--primary-blue-color);
}

@media only screen and (max-width: 767px) {
    .stylized-text--large {
        font-size: 3.7rem;
    }

    .stylized-text--center {
        text-align: center;
    }
}