.thankyou{
    height: fit-content;
    position: relative;
}


.thankyou:after{
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0.56;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(80%);
    background: #40acb4;
}

.thankyou:before {
    background-position: center center;
    background-size:cover;
    filter: grayscale(80%) sepia(40%) contrast(1.22);
    content: "";
    position: absolute;
    height: 100%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../../assets/photos/kidsv2.jpg);
}

.thankyou__thanks-text{
    position: relative;
    left: 10%;
    align-self: center;
    width: 50%;
}

.thankyou__stylized-text{
    position: relative;
    left: 90%;
    align-self: center;
    font-size: 300%;
    width:200%;
}
