body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main{
    /* max-width: 95vw; */
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em ;
    padding-bottom: 1em ;
}

footer{
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 7em;
    max-width: 95vw;
    margin: auto;
    padding: 5em;
}

section{
    padding: 0;
    margin: 0;
    border: 0;
}

button{
    padding: 1em 2em;
    font-weight: bold;
    width: fit-content;
    border: none;
    border-radius: 2em;
}

input[type=submit]{
    padding: 1em 2em;
    font-weight: bold;
    width: fit-content;
    border: none;
    border-radius: 2em;
}

body {
    margin: 0;
}

img{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

@media only screen and (max-width: 767px) {
    footer{
        flex-direction: column;
    }
}

html *
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}