body {
    margin: 0;
}

main{
    max-width: 95vw;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1em 2.5vw;
}

footer{

}

a {
    color: var(--primary-green-color);
}